<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><base href="/static/admin/">
  <style>
      ul li 
      {
        display:inline;
      }
  </style>





<title>SHOP 管理中心 - 品牌管理 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/general.css" rel="stylesheet" type="text/css" />
<link href="styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="{:url('brand')}">添加品牌</a></span>
<span class="action-span1"><a href="index.php?act=main">SHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品品牌 </span>
<div style="clear:both"></div>
</h1>

<div class="form-div">
  <form method="get" action="">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH">
     <input type="text" name="brand_name" size="15">
    <input type="submit" value=" 搜索 " class="button">
  </form>
</div>

<form method="post" action="" name="listForm">
<!-- start brand list -->
<div class="list-div" id="listDiv">

  <table cellpadding="3" cellspacing="1">
    <tbody>
		<tr>
			<th>品牌名称</th>
      <th>品牌LOGO</th>
			<th>品牌网址</th>
			<th>品牌描述</th>
			<th>排序</th>
			<th>是否显示</th>
			<th>操作</th>
		</tr>
    <tbody id="list">
  {volist name="list" id="v"}
        <tr brand_id="{$v.id}">
			<td class="first-cell brand_name">
			 <span>{$v.brand_name}</span>
       <input type="text" style=display:none />
			</td>
      <td><img src="{$v.brand_logo}" width="100" height="100" border="0" alt="品牌LOGO"></td>
			<td><a href="http://www.nokia.com.cn/" target="_brank">{$v.url}</a></td>
			<td align="left" >{$v.brand_desc}</td>
			<td align="right"><span onclick="javascript:listTable.edit(this, 'edit_sort_order', 1)">{$v.sort_order}</span></td>
			<td align="center">
    {eq name="$v.is_show" value="1"}
          <img src="images/yes.gif" class="is_show" is_show="0">
    {else/}
          <img src="images/no.gif" class="is_show" is_show="1">
    {/eq}
      </td>
			<td align="center">
				<a href="{:url('upd?id='.$v['id'])}" title="编辑">编辑</a> |
				<a href="{:url('del?id='.$v['id'])}" title="编辑" class="del">删除</a> 
			</td>
		</tr>
  {/volist}
</tbody>
		<!--start，这些都是显示代码，没有格式化，开发时会删除 -->
        <tr>
  
     
	<!--end，这些都是显示代码，没有格式化，开发时会删除 -->
    <tr>
		<td align="right" nowrap="true" colspan="6">
            <div id="turn-page">
			总计  <span id="totalRecords">11</span>
        个记录分为 <span id="totalPages">2</span>
        页当前第 <span id="pageCurrent">1</span>
        页，每页 <input type="text" size="3" id="pageSize" value="10" onkeypress="return listTable.changePageSize(event)">
        <span id="page-link">
          <div class="page">
          {$page|raw}
          </div>
          <select id="gotoPage" onchange="listTable.gotoPage(this.value)">
            <option value="1">1</option><option value="2">2</option>          </select>
        </span>


        </span>
      </div>
      </td>
    </tr>
  </tbody></table>


</div>
</form>


<div id="footer">
	版权所有 &copy; 2006-2013 软工教育 - 高级PHP - </div>
</div>

</body>
</html>
<script src="/static/jq.js"></script>
<script>
  //-----------------                      -----------------------------------删除
  $(document).on("click",".del",function(){
    event.preventDefault();
    var _this=$(this);
    var url=_this.attr('href');
    // alert(url);
    $.ajax({
      url:url,
      success:function(res){
        // _this.parent().parent().remove();
          
        p=$("#page .active").text();
        // var url="{:url('list')}?page="+p;
        // page(url);


        // if(res == 1){
        //   alert("删除成功");return;
        // }else{
        //   alert("删除失败");return;
        // }
      }
    })
  })
  //----                              ---------------------------名称即点即改
    $(document).on("click",".brand_name span",function(){
      // alert(1);
        var span=$(this);
        var input=span.next();
          //点击时span隐藏input显示
        span.hide();
        input.show();
          //获取span中的值 赋值给input
        var name= span.html();
        input.val(name);

      
    })
    $(document).on("blur",".brand_name input",function(){  //--------------------- 失焦
          var input=$(this);
          var span=input.prev();
          
          //失去焦点时input隐藏span显示
          span.show();
          input.hide();
          //获取input里面的值
          var namee=input.val();
          span.text(namee);
          var brand_id=$(this).parent().parent().attr("brand_id");
          $.ajax({
            url:"{:url('changeshow')}",
            data:{brand_name:namee,id:brand_id},
            success:function(res){

            }
          })

      })
    $(document).on("click",".is_show",function(){       //-------------------即点即改
        //获取值
        var is_show=$(this).attr("is_show");
        var brand_id=$(this).parent().parent().attr("brand_id");
        var _this=$(this);
        $.ajax({
          //路径
          url:"{:url('changeshow')}",
          data:{is_show:is_show,id:brand_id},
          success:function(res){
              if(is_show==1){
                _this.attr("src","images/yes.gif").attr("is_show","0");
              }else{
                _this.attr("src","images/no.gif").attr("is_show","1");
              }
          }
        })
        
    })
  $(document).on("click",".button",function(){       //--------------------------------搜索
      event.preventDefault();
      page("{:url('brand/list')}");
  })

  $(document).on("click",".page a",function(){        //-------------------------------分页
      event.preventDefault();
      var url=$(this).attr("href");
      page(url);
  })
  function page(a)
  {
    var brand_name=$('[name="brand_name"]').val();
    // console.log(url);
    $.ajax({
      url:a,
      dataType:"json",
      data:{brand_name:brand_name},
      success:function(res){
        $("#list").empty();
        $.each(res.data,function(i,v){
            var tr=$("<tr brand_id="+v.id+"></tr>");
            tr.append('<td class="first-cell brand_name"><span>'+v.brand_name+'</span><input type="text" style=display:none /></td>');
            tr.append("<td><img src="+v.brand_logo+" width='100' height='100' alt=''></td>");
            tr.append("<td>"+v.url+"</td>");
            tr.append("<td>"+v.brand_desc+"</td>");
            tr.append("<td>"+v.sort_order+"</td>");
            // tr.append("<td>"+v.is_show+"</td>");
            if(v.is_show==1){
            tr.append('<td><img src="images/no.gif" class="is_show" is_show="1"></td>');
            }else{
            tr.append('<td><img src="images/no.gif" class="is_show" is_show="1"></td>'); 
            }
            // tr.append("<td><a class='del' href={url:('del')}?id="+v.id+">删除</a></td>");
           
            tr.append("<td><a class='upd' href='{:url('del')}?id="+v.id+"'>修改</a></td>");
            tr.append("<td><a class='del' href='{:url('del')}?id="+v.id+"'>删除</a></td>");
            $("#list").append(tr);
        })
            $(".page").html(res.page);
      }
    })
  }

</script><!-- v.brand_logo -->