<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="{:url('upd_do')}" method="post">
		<input type="hidden" name="id" value="{$upd.id}">
		<table border="1">
			<tr>
				<td>姓名</td>
				<td><input type="text" name="s_name" value="{$upd.s_name}"></td>
			</tr>
			<tr>
				<td>年龄</td>
				<td><input type="text" name="age"value="{$upd.age}"></td>
			</tr>
			<tr>
				<td>性别</td>
				<td>
					<input type="radio" name="sex" value="0" {eq name="upd.sex" value="女"}checked{/eq}>女
					<input type="radio" name="sex" value="1" {eq name="upd.sex" value="男"}checked{/eq}>男
				</td>
			</tr>
			<tr>
				<td>手机号</td>
				<td><input type="text" name="tel" value="{$upd.tel}"></td>
			</tr>
			<tr>
				<td>班级</td>
				<td>
					<select name="classa">
						{volist name="lito" id="v"}
						<option value="{$v.cid}" {in name="$v.cid" value="$upd.classa"}selected{/in}>{$v.class}</option>
						{/volist}
					</select>
				</td>
			</tr>
			<tr>
				<td>身份证</td>
				<td><input type="text" name="shen" value="{$upd.shen}"></td>
			</tr>
			<tr>
				<td><input type="submit" value="修改"></td>
				<td></td>
			</tr>
		</table>
	</form>
</body>
</html>