<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="icon-home home-icon"></i>
					<a href="#">首页</a>
				</li>
				<li class="active">电商系统控制台</li>
				<li class="active">管理员管理</li>
				<li class="active">管理员设置</li>
				<li class="active">管理员列表</li>
			</ul><!-- .breadcrumb -->
		</div>

		<div class="page-content">
				<div class="row">
				

	<div class="col-xs-12">
		<!-- 搜索 -->
		<form action="{:url('Admin/admin_list')}" method="GET">
			<input type="text" name="admin_name" placeholder="输入姓名搜索" value="{$query.admin_name|default=''}">
			<input type="submit" value="搜索" id="search">
		</form>
	
	
		<div class="table-responsive">
			<table id="sample-table-1" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th class="center">
							<label>
								<input type="checkbox" class="allace" />
								<span class="lbl"></span>
							</label>
						</th>
						
						<th>管理员姓名</th>
						<th>电话</th>
						<th>邮箱</th>
						<th>权限</th>
						<th>启停</th>
						<th>时间</th>
						<th>操作</th>
					</tr>
				</thead>

				<tbody>
					{volist name="list" id="v"}
					<tr admin_id="{$v.admin_id}">
						<td >
							<label>
								<input type="checkbox" class="ace" />
								<span class="lbl"></span>
							</label>
						</td>
						<td field="brand_name">
							<span class="brand_clk">{$v.admin_name}</span>
							<input type="text" value="{$v.admin_name}" style="display:none" class="brand_val">
								
						</td>
						
						
						<td>{:substr($v.admin_tel,0,3)."****".substr($v.admin_tel,-4)}</td>
						<td>{$v.admin_email}</td>
					{eq name="$v.admin_mans" value="1"}
						<td style="color: darkred">超级管理员</td>
						{else/}
						<td style="color:blue">普通管理员</td>
						{/eq}
						<td style="color:red">
								<?php if ($v['is_show']==1){
									echo"启用";
								}else if($v['is_show']==0){
									echo"停用";     
								}?></td>
						</td>
						<td>{:date("Y-m-d H:i:s",$v.add_time)}</td>
						<td>
						<button class="btn"><a href="{:url('edit')}?admin_id={$v.admin_id}">编辑</a></button>
						
						<button class="btn btn-danger del">删除</button>
						</td>

					</tr>													
					{/volist}
				</tbody>
			</table>
			{$list|raw}
		</div><!-- /.table-responsive -->
			<button class="btn btn1" >通过</button>
			<button class="btn btn2">停用</button>
			<button class="btn btn3">重置</button>
			<button class="btn btn4">批量删除</button>
		
	</div><!-- /span -->
</div><!-- /row -->

		</div><!-- /.page-content -->
</div><!-- /.main-content -->
<script>
	// =========================================普通单独删除
$(function(){
	$(document).on('click','.del',function(){
		var _this = $(this);
		// console.log(_this);没事就打印看效果
		var admin_id = _this.parents("tr").attr('admin_id');//这个单删除找到祖先的’tr‘的自定义的admin_id
		// console.log(brand_id);return;
		if(window.confirm("是否删除？")){
			location.href="{:url('Admin/delete')}?admin_id="+admin_id;
		}
		

	})

// =====================================批量删除
	$(document).on('click','.btn4',function(){
		// console.log($(".ace:checked"));return;
		var box = $('.ace:checked');
		// each 循环 对象.each(function(index){})
		var admin_id ='';
		box.each(function(index){
			// console.log(index);return;//获取下标
			// $(this)循环的每一个对象 php拼接是.  js拼接是+ 号
			admin_id+=$(this).parents("tr").attr('admin_id')+',';
		});
		//  console.log(admin_id);//这里取到批量删除的id,但是多取',' 这是字符串，要去除逗号，只能用截取做
		// 截取的字符串长度减1
		admin_id=admin_id.substr(0,admin_id.length-1);//从哪开始截取，截取长度-1  。。。。对象.substr(哪开始截取，截到哪里)
		// console.log(brand_id);会截取到长度-1 
		// 这就可以了把单独删除拿出来
		if(admin_id==''){
			alert('请至少选择一个来删除');
		}else{
			if(window.confirm('你确认删除？')){
				location.href="{:url('Admin/delete')}?admin_id="+admin_id;
			}
			
		}
		
	})
// ============================================全选全不选
	$(document).on('click','.allace',function(){
		var sta = $(this).prop('checked');//用prop拿到所有 的内置属性
		$('.ace').prop('checked',sta)//把class状态内置属性checked状态拿到，和定义的保持一致
	})
})
</script>