<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{:url('add_do')}" method="post" id="form">
        <table>
            <tr>
                <td>姓名</td>
                <td><input type="text" name="y_name"></td>
            </tr>
            <tr>
                <td>手机号</td>
                <td><input type="text" name="y_tel"></td>
            </tr>
            <tr>
                <td>职位</td>
                <td>
                    <select name="z_id" id="">
                        <option value="1">主管</option>
                        <option value="2">副管</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>部门</td>
                <td>
                        <select name="b_id" id="">
                            <option value="1">经济部</option>
                            <option value="2">宣传部</option>
                        </select>
                </td>
            </tr>
            <tr>
                <td>是否在职</td>
                <td>
                    <input type="radio" name="y_is" value="0">是
                    <input type="radio" name="y_is" value="1">否    
                </td>
            </tr>
            <tr>
                <td><input type="button" value="添加" class="ti"></td>
                <td></td>
            </tr>
        </table>
    </form>
</body>
</html>
<script src="/static/jq.js"></script>
<script>
    $(".ti").on("click",function(){
        var data=$("#form").serialize();
        $.ajax({
            url:"{:url('add_do')}",
            data:data,
            dataType:'json',
            type:'post',
            success:function(res){
                alert(res.mag);
            }
        })
    })
</script>