<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title>登录</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />

		<link rel="stylesheet" href="__STATIC__/index/login/amazeui.css" />
		<link href="__STATIC__/index/login/dlstyle.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__/layui/css/layui.css" rel="stylesheet" type="text/css">


		<script src="__STATIC__/layui/layui.js"></script>
		<script src="__STATIC__/index/login/jquery-3.2.1.min.js"></script>

	</head>

	<body>

		<div class="login-boxtitle">
			<a href="home.html"><img alt="logo" src="__STATIC__/index/login/logoa.jpg  "  /></a>
		</div>

		<div class="login-banner">
			<div class="login-main">
				
					<div class="login-banner-bg"><span></span><img src="__STATIC__/index/login/shan.jpg" width="572" height="412"/></div>
					
					<div class="login-box">
							
							<h3 class="title">登录商城</h3>

							<div class="clear"></div>

							<div class="login-form">
									<form id="theform">
									<input type="hidden" name="refer" value="{$refer}">
									<div class="user-name">
										<label for="account"><i class="am-icon-user"></i></label>
										<input type="text" name="account" placeholder="手机号/邮箱" value="{$Think.cookie.ainfo['account']}">
									</div>
									<div class="user-pass">
										<label for="user_pwd"><i class="am-icon-lock"></i></label>
										<input type="password" name="user_pwd" placeholder="请输入密码" value="{$Think.cookie.ainfo['user_pwd']}">
									</div>
								
							</div>
            
							<div class="login-links">
								<label for="remember_me">
									<input name="remember_me" type="checkbox" value="1" >账号密码记录7天
								</label>
								<a href="{:url('Login/password')}" class="am-fr">忘记密码</a>
								<a href="{:url('Login/register')}" class="zcnext am-fr am-btn-default">注册</a>
								<br />
							</div>
							<div class="am-cf">
								<input type="submit" name="" value="登 录" id="btn" class="am-btn am-btn-primary am-btn-sm">
							</div>						
						</form>
						</div>
					
					</div>
				</div>
				<div class="footer ">
						<div class="footer-hd ">
							<p>
								<a href="# ">恒望科技</a>
								<b>|</b>
								<a href="# ">商城首页</a>
								<b>|</b>
								<a href="# ">支付宝</a>
								<b>|</b>
								<a href="# ">物流</a>
							</p>
						</div>
						<div class="footer-bd ">
							<p>
								<a href="# ">关于恒望</a>
								<a href="# ">合作伙伴</a>
								<a href="# ">联系我们</a>
								<a href="# ">网站地图</a>
								<em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="#" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
							</p>
						</div>
					</div>
	</body>

</html>
<script>
	$(function(){
		$(document).on('submit',"#theform",function(){
			// 1、给登录的form表单绑定一个表单提交事件(return false;)  
			// 获取表单上的所有值
			var data = $("#theform").serialize();
			var _this=$(this);
			
			// console.log(data);
			// 3、通过ajax技术把数据传给控制器
			$.post(
				"{:url('Login/logindo')}",
				data,
				function(res){
					var refer=_this.children('input').attr('value');
					// if(res.code==2){
					// 	alert(res.font);
					// }
					if(res.code==1){
						if(refer){
							location.href=refer;
							// alert(refer);
						}else{
							location.href="{:url('index/index')}";
							// alert("{:url('Index/index')}?refer=".refer);
						}
						
					}else{
						alert(res.font);
					}
				},
				'json'
			);
			return false;
		})
	})
</script>