
<!--End Header End--> 
<!--Begin Login Begin-->
<div class="log_bg">	
    <div class="top">
        <div class="logo"><a href="Index.html"><img src="/static/index/images//logo.png" /></a></div>
    </div>
	<div class="login">
    	<div class="log_img"><img src="/static/index/images//l_img.png" width="611" height="425" /></div>
		<div class="log_c">
        	<form method="post" action="{:url('login/getnewpwd')}">
            <input type="hidden" name="user_id" value="{$user_id}">
            <table border="0" style="width:370px; font-size:14px; margin-top:30px;" cellspacing="0" cellpadding="0">
              <tr height="50" valign="top">
              	<td width="55">&nbsp;</td>
                <td>
                	<span class="fl" style="font-size:24px;">重置密码</span>
                    
                </td>
              </tr>
              <tr height="70">
                <td>输入新密码</td>
                <td><input type="passworda" value="" class="l_user" /></td>
              </tr>
              <tr height="70">
                <td>确认新密码</td>
                <td><input type="passwordb" name="user_pwd" value="" class="l_pwd" /></td>
              </tr>
              <tr>
              	<td>&nbsp;</td>
                <td style="font-size:12px; padding-top:20px;">
                	
                </td>
              </tr>
              <tr height="60">
              	<td>&nbsp;</td>
                <td><input type="submit" value="确认" class="log_btn" /></td>
              </tr>
            </table>
            </form>
        </div>
    </div>
</div>
<!--End Login End--> 
<!--Begin Footer Begin-->
<div class="btmbg">
    <div class="btm">
        备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />
        <img src="/static/index/images//b_1.gif" width="98" height="33" /><img src="/static/index/images//b_2.gif" width="98" height="33" /><img src="/static/index/images//b_3.gif" width="98" height="33" /><img src="/static/index/images//b_4.gif" width="98" height="33" /><img src="/static/index/images//b_5.gif" width="98" height="33" /><img src="/static/index/images//b_6.gif" width="98" height="33" />
    </div>    	
</div>
<!--End Footer End -->    

</body>


<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
</html>
