<!-- 导航 -->
<div class="top">
        <div class="logo"><a href="{:url('index/index')}"><img src="__STATIC__/index/images/logo.png" /></a></div>
        <div class="search">
            <form>
                <input type="text" value="" class="s_ipt" />
                <input type="submit" value="禁用" class="s_btn" />
            </form>     
        </div>
        <div class="i_car">
            <div class="car_t">购物车<span></span> </div>
            <div class="car_bg">
                   <!--Begin 购物车未登录 Begin-->
                <div class="un_login">还未登录！<a href="Login.html" style="color:#ff4e00;">马上登录</a> 查看购物车！</div>
                <!--End 购物车未登录 End-->
                <!--Begin 购物车已登录 Begin-->
                <ul class="cars">
                    {volist name="cart" id="v"}
                    <li>
                        <div class="img"><a href="#"><img src="{$v.goods_img}" width="58" height="58" /></a></div>
                        <div class="name"><a href="#">{$v.goods_name}</a></div>
                        <div class="price"><font color="#ff4e00">￥{$v.goods_price}</font> X{$v.by_number}</div>
                    </li>
                    {/volist}
                </ul>
                <div class="price_a"><a href="{:url('Cart/cartList')}">去购物车结算</a></div>
                <!--End 购物车已登录 End-->
            </div>
        </div>
    </div>
    <!--End Header End--> 
    <!--Begin Menu Begin-->
     
    <div class="menu_bg">
        <div class="menu">
            <!--Begin 商品分类详情 Begin-->    
            <div class="nav">
                <div class="nav_t">全部商品分类</div>
                <!-- 判断首页有分类收缩展示 -->
     <?php $controller=request()->controller(); ?><!--  当前访问的控制器 -->
     {if $controller=='Index'}
         {assign name="cla" value="leftNav" /} <!-- 如果是index首页 class为 leftNav显示 -->
     {else/}
         {assign name="cla" value="leftNav none" /}<!-- 如果不是index首页 class为 leftNav none不 显示 -->
     {/if}
        <div class="{$cla}">
                    <ul>   
                            <!-- //以下是循环套循环，非常麻烦v是一层  vv是son字段下面的二层 -->
                            
                        {volist name="cateInfo" id="v"}   
                        <li>
                            <div class="fj">
                                <span class="n_img"><span></span><img src="__STATIC__/index/images/nav1.png" /></span>
                                <span class="fl">{$v.cate_name}</span>
                            </div>
                            <div class="zj" style="top:-{$key*40}px;">
                                    <!-- style="top:-{$key*40}px;"这里防止下沉 -->
                                <div class="zj_l">
                                   {volist name="v['son']" id="vv"}
                                    <div class="zj_l_c">
                                        <h2>{$vv.cate_name}</h2>
                                            {volist name="vv['son']" id="vvv"}
                                        <a href="#">{$vvv.cate_name}</a>|
                                           {/volist}
                                    </div>
                                   {/volist}
                                    
                                </div>
                                <div class="zj_r">
                                    <a href="#"><img src="__STATIC__/index/images/logoa.jpg" width="236" height="200" /></a>
                                    <a href="#"><img src="__STATIC__/index/images/n_img2.jpg" width="236" height="200" /></a>
                                </div>
                            </div>
                        </li>
                        {/volist}
                        
                                        	
                    </ul>            
                </div>
            </div>  
            <!--End 商品分类详情 End-->                                                     
            <ul class="menu_r">
                <li><a href="{:url('goods/goods_list')}">全部</a></li>
                {volist name="navInfo" id="v"}
                    <li><a href="{:url('Goods/goods_list')}?cate_id={$v.cate_id}">{$v.cate_name}</a></li>
                {/volist}
                
            </ul>
            <div class="m_ad">钟山风雨起苍黄</div>
        </div>
    </div>