<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="{:url('upd_do')}" method="post">
		<input type="hidden" name="sid" value="{$info.sid}">
		<table border="1">
			<tr>
				<td>姓名</td>
				<td><input type="text" name="sname" value="{$info.sname}"></td>
			</tr>
			<tr>
				<td>年龄</td>
				<td><input type="text" name="sage" value="{$info.sage}"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" value="修改"></td>
			</tr>
		</table>
	</form>
</body>
</html>