<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<link rel="stylesheet" href="/static/admin/css/pintuer.css">
    <link rel="stylesheet" href="/static/admin/css/admin.css">
    <script src="/static/admin/js/jquery.js"></script>   
	<form action="" method="get">
		<input type="text" name="yname">
		<input type="submit" value="搜索">
	</form>

	<table border="1" height="200" width="400">
		<tr align="center">
			<td>ID</td>
			<td>用户名</td>
			<td>密码</td>
			<td>操作</td>
		</tr>
	{volist name="list" id="v"}
		<tr align="center">
			<td>{$v.id}</td>
			<td>{$v.yname}</td>
			<td>{$v.ypwd}</td>
			<td>
				<a href="{:url('del?id='.$v['id'])}">删除</a>
				<a href="{:url('upd?id='.$v['id'])}">修改</a>
			</td>
		</tr>
	{/volist}
	</table>
	{$list|raw}
</body>
</html>