<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><base href="/static/admin/">
<title>SHOP 管理中心 - 品牌管理 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/general.css" rel="stylesheet" type="text/css" />
<link href="styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="{:url('list')}">商品品牌</a></span>
<span class="action-span1"><a href="index.php?act=main">SHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 添加品牌 </span>
<div style="clear:both"></div>
</h1>

<div class="main-div">
<form method="post" action="{:url('add_do')}" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<table  align="center">
  	<tr>
			<td>优惠券张数</td>
			<td><input type="text" name="d_number" /></td>
		</tr>
		<tr>
			<td>优惠金额</td>
			<td><input type="text" name="d_money" /></td>
		</tr>
		<tr>
			<td>商品分类</td>
			<td>
				<select name="d_cat" id="">
					{volist name="cat" id="v"}
					<option value="{$v.cat_id}">{:str_repeat('----',$v.level).$v.cat_name}</option>
					{/volist}
				</select>
			</td>
		</tr>
		<tr>
			<td>优惠条件</td>
			<td><input type="text"  name="d_where" /></td>
		</tr>
  <tr>
    <td colspan="2" align="center"><br>
      <input type="submit" class="button" value=" 确定 ">
      <input type="reset" class="button" value=" 重置 ">
    </td>
  </tr>
</table>
</form>
</div>

</body>
</html>